<%- include('header.ejs') %>

<!DOCTYPE html>
<html>
<head>
    <title>Insert Sentiment</title>
</head>
<body>
<h1>Insert Sentiment</h1>

<form action="/addSentiment" method="POST">
    <label for="sentiment">Sentiment:</label><br>
    <input type="text" id="sentiment" name="sentiment"><br><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>

<%- include('footer.ejs') %>
