<%- include('header.ejs') %>

<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analysis</title>
</head>
<body>

<h1>Sentiment Analysis Result</h1>

<% if(sentimentData) { %>
    <p>Received JSON data: <%= JSON.stringify(sentimentData) %></p>
<% } else { %>
    <p>No data received.</p>
<% } %>

</body >
</html >

<%- include('footer.ejs') %>
