<%-include('header.ejs')%>

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
</head>
<body>
<h1>비밀번호 찾기</h1>
<form action="/findpw" method="POST">
    <label for="user_id">아이디:</label>
    <input type="text" name="user_id" id="user_id" required>
    <br>
    <label for="name">이름:</label>
    <input type="text" name="name" id="name" required>
    <br>
    <input type="submit" value="비밀번호 찾기">
</form>
</body>
</html>

<%-include('footer.ejs')%>