<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1> stock analyzer </h1>
   
    <header style="border-bottom:1px solid #aaa;  margin-bottom:10px; padding-bottom:10px;  ">
        <nav>

            <button type="button" onclick="location.href='/'">홈</button>
            <button type="button" onclick="location.href='/profile'">프로필</button>
            <button type="button" onclick="location.href='/contact'">문의하기</button>
            <button type="button" onclick="location.href='/contactList'">문의내용들</button>
            <button type="button" onclick="location.href='/addfavorite'">즐겨찾기</button>
            <button type="button" onclick="location.href='/addfavoriteList'">즐겨찾기 목록</button>
            <button type="button" onclick="location.href='/stocks'">주가검색</button>
            <button type="button" onclick="location.href='/login'">로그인</button>
            <button type="button" onclick="location.href='/register'">회원가입</button>
            <button type="button" onclick="location.href='/logindeactivate'">회원탈퇴</button>
            <button type="button" onclick="location.href='/findname'">회원정보검색</button>
            <button type="button" onclick="location.href='/findpw'">비밀번호 찾기</button>
            <button type="button" onclick="location.href='/mainstocks'">주요지수</button>
            

            <% if(user_id){ %>
                <%=name%>님 환영합니다.
            <button type="button" onclick="location.href='/logout' ">로그아웃</button>
            <button type="button" onclick="location.href='/logindeactivate'">회원탈퇴</button>
            <% } %>
            
        </nav>
    </header>
