<%- include('header.ejs') %>

<form action="/logindeactivate" method="post">
    <ul>
        <li> 아이디 : <input type="text" name="user_id" required></li>
        <li> 비밀번호 : <input type="password" name="pw" required></li>

        <button>회원탈퇴</button>
    </ul>
</form>

<%- include('footer.ejs') %>
