<%-include('header.ejs')%> 
    

    <ul>
        <li> 이름 : 시계는 와치와치</li>
        <li> 이메일 : defendersunbin98@naver.com</li>
        <li> 주소 : smu </li>
        
    </ul>


<%-include('footer.ejs')%>     