<%- include('header.ejs') %>

<form action="/resetpw" method="post">
    <ul>
        <li> 아이디 : <input type="text" name="user_id" required></li>
        <li> 이름 : <input type="text" name="name" required></li>
        <li> 새로운 비밀번호 : <input type="password" name="new_pw" required></li>
        <button type="submit">비밀번호 변경</button>
    </ul>
</form>

<%- include('footer.ejs') %>



